* {
    background-color: #7b9095;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.task {
    padding: 1em;
    margin: 0.3em;
    border: thick double white;
}

input {
    margin-bottom: 1em;
}

.divider {
    height: 3px;
    background-color: rgb(255,255,255,1);
}