* {
    border: solid 1px green;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #7b9095;
    --secondary-bg-color: #343d40;
    --main-font: white;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul {
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    display: inline-block;
    width: 100%;
    list-style: outside none none;
    font-size: 1.2em;
    padding: 0.5em;
    border-right: solid 1px var(--main-font);
}

li:last-child {
    border-right: none;
}

ul li:hover {
    background-color: var(--secondary-bg-color);
}


.task {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    padding: 1em;
    margin: 0.3em;
    border: thick double var(--main-font);
}


.taskText {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;

    width: 90%
}

.taskText>* {
    flex: 1 100px;
}

.taskText :last-child {
    flex-basis: 100%;
}

.task .check {
    background: var(--main-bg-color);
    border: thick double var(--main-font);
    width: 65px;
    font-size: 2rem;
    position: relative;
    max-height: 65px;
    max-width: 65px;
}

.task .check div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.task .check:hover {
    background: var(--secondary-bg-color);
} 

input {
    margin-bottom: 1em;
}

.divider {
    height: 3px;
    background-color: rgb(255,255,255,1);
}